/* GetInputPage.css */

.blue-box {
    background-color: #7a8ea2; /* Blue background color */
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 70%;
    text-align: left; /* Reset text alignment for form elements */
    margin: 0 auto; /* Center the box horizontally */
    display: flex;
    flex-direction: column;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
  }
  
  .label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
  }
  
  .submit-button {
    background-color: #fff;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
    color: #fff;
  }
  
  /* You can add more CSS styles as needed */
  